@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 style="font-size:35px; color:#333333">Calc Service Demonstration</h1>
    
    <ul>
        <li>
            <a asp-area="" asp-controller="Calculations" asp-action="PassUsingModel">Using Model Calc</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Calculations" asp-action="PassUsingViewData">Using ViewData Calc</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Calculations" asp-action="PassUsingViewBag">Using ViewBag Calc</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Calculations" asp-action="AcessServiceDirectly">Using Service Injection Calc</a>

        </li>

    </ul>
   

</div>
